body {
    font-family: "Spectral", serif;
    margin-top: 0;
    background-color: #1F3037;
    color: #1F3037;
}

.wrapper {
    margin: auto;
    width: 75%;
    min-width: 960px;
    max-width: 2048px;
    background-color: #B6C7CE;
}

h1 a {
    text-decoration: none;
    color: #B6C7CE;
}

h1 a:hover {
    color: #7998A5;
}

header {
    font-family: "Spectral", serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    background-color: #49636E;
    color: #B6C7CE;
    letter-spacing: 0.25em;
    margin-bottom: 0;
}

/* NAV BAR STYLES */
nav {
    background-color: #7998A5;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

nav li{
    display: inline-block;
    position: relative;
}

nav a {
    margin: 0;
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
}

/* nav a:hover {
    background-color: #B6C7CE;
} */

/* DROPDOWN MENU STYLES */ 
nav ul ul {
    position: absolute;
    background-color: white;
    padding: 0;
    text-align: left;
    display: none;
    box-shadow: 1px black ;
}

nav ul ul li {
    display: block;
    width: max-content;
    margin: 0;
    padding: 10px;
}

nav li:hover ul {
    display: block;
}

/* MAIN CONTENT STYLES */
main {
    padding: 50px;
}

hr {
    margin-top: 30px;
    margin-bottom: 50px;
}

h2 {
    margin-top: 0px;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

/* CONTENT STYLES  */
.course {
    margin: auto;
    text-align: center;
    padding-bottom: 0;
    clear: left;
}

.course img {
    margin: auto;
    width: 310px;
    height: 410px;
    padding-left: 10px;
    margin: auto;
}

.course .section {
    margin: auto;
    width: 60%;
    height: auto;
    float: left;
    text-align: center;
}
